<!DOCTYPE html>
<html>
  <head>
    <title>About Me | Jason Pursey</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/about.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />

      <script type="text/javascript" src="/javascripts/about.js"></script>

  </head>
  <body>
    <%-  include('./nav.ejs', {active: "about"});%>
      <section>
          <h1>About Me</h1>
          <div class="gallery" id="slideshow1">
              <img class="slide fade" src="/images/about/bike_road.jpg">
              <img class="slide fade" src="/images/about/bike_camping.jpg">
              <img class="slide fade" src="/images/about/me_hamburg_warehouse.jpg">
          </div>


          <div class="gallery" id="slideshow2">
              <img class="slide fade" src="/images/about/ozzy_helping.jpg">
              <img class="slide fade" src="/images/about/me_dog_romania1.jpg">
              <img class="slide fade" src="/images/about/me_dog_romania2.jpg">
              <img class="slide fade" src="/images/about/me_ozzy.jpg">
          </div>
      </section>

    <%- include footer.ejs%>
  </body>
</html>
