<!DOCTYPE html>
<html>
  <head>
    <title>About Me | Jason Pursey</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>
    <% include nav.ejs %>
      <section>
        <h1>About Me</h1>
        <p>I like tinkering with things and thinking about how they
        could be better.</p>
      </section>
  </body>
</html>
