<!DOCTYPE html>
<html>
  <head>
    <title>Ich lerne scheiße Deutsch</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "blog"});%>
      <section>
          <h1>Ich lerne scheiße Deutsch</h1>
          <h2>Ein Blog über generell nicht sehr gut.</h2>
      </section>
  </body>
</html>
