<!DOCTYPE html>
<html>
  <head>
    <title>Contact | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "contact"});%>
      <section>
        <h1>Contact</h1>
        <address>
            <a href="mailto:j.s.pursey@gmail.com">j.s.pursey@gmail.com</a><br>
            <a href="https://www.facebook.com/the.jason.pursey">
                facebook.com/the.jason.pursey</a><br>
        </address>
      </section>
  </body>
</html>
