<!DOCTYPE html>
<html>
  <head>
    <title>Contact | Jason Pursey</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "contact"});%>
      <section>
        <h1>Contact</h1>
        <address>
            <a href="mailto:j.s.pursey@gmail.com">j.s.pursey@gmail.com</a><br>
            <a href="https://www.facebook.com/jason.pursey.3" title="Find me on facebook">
                <img src="/images/icons/fb-white-58.png" alt="facebook logo">
            </a>
        </address>
      </section>
  </body>
</html>
