
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/nav.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />

<%-  include('./nav.ejs', {active: null});%>

<section>
    <h1>Error </h1>
    <h2> <%= message %> :(</h2>
    <p>
        <%= error.status %>
    </p>
</section>

<%- include footer.ejs%>
