<footer>
    <ul id="contact">
        <li><a href="mailto:j.s.pursey@gmail.com">j.s.pursey@gmail.com</a><br>
        </li>
        <li>
            <a href="https://www.facebook.com/the.jason.pursey"
               title="Find me on facebook">
                <img src="/images/icons/fb-white-58.png" alt="facebook logo"/></a><br>
        </li>
        <li>
            <a href="https://github.com/oswalde-p"
               title="GitHub profile">
                <img src="/images/icons/GitHub-Mark-Light-64px.png" alt="GitHub mark"/></a><br>
        </li>
    </ul>
    <p>
    <small>
        Down arrow icon made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> & licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </small>
    </p>
</footer>