<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
  </head>
  <body>
    <% include nav.ejs%>
    <h1><%= title %></h1>
    <p>Welcome <a href="/">asdasd</a> to <%= title %></p>
  </body>
</html>
