<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div id="intro">
      <% include nav.ejs%>
      <h1><%= title %></h1>
    </div>
    <section>
      <p>Hi</p>
      <p>I'm Jason</p>
    </section>
  </body>
</html>
