<!DOCTYPE html>
<html>
  <head>
    <title>Jobs | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />
      <link rel='stylesheet' href='/stylesheets/jobs.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>

      <script type="text/javascript" src='/javascripts/jobs.js'></script>

  </head>
  <body>
    <%-  include('./nav.ejs', {active: "jobs"});%>
      <section>
          <h1>Job History</h1>
          <a href="">Simple view</a>
          <svg id="canvas"></svg>
          
      </section>

    <%- include footer.ejs%>
  </body>
</html>
