<!DOCTYPE html>
<html>
  <head>
    <title>Jobs | Jason Pursey</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />

  </head>
  <body>
    <%-  include('./nav.ejs', {active: "jobs"});%>
      <section>
          <h1>Job History</h1>
          <h2>UNDER CONSTRUCTION</h2>
          <p>Check back soon!</p>
          
      </section>

    <%- include footer.ejs%>
  </body>
</html>
