<nav>
    <ul>
        <li class="logoLink"><a href="/" title="Jason Pursey home">
                <img src="public/images/logo.jpg" alt="Jason Pursey" width="200px" height="200px">
            </a></li>
        <li><a href="/about" title="about me">About Me</a></li>
        <li><a href="/projects" title="projects">Projects</a></li>
        <li><a href="/jobs" title="jobs">Jobs</a></li>
        <li><a href="/contact" title="contact me">Contact</a></li>
    </ul>
</nav>