<nav>
    <ul>
        <li class="logoLink"><a href="/" title="Jason Pursey home">
                <!--<img src="public/images/logo.jpg" alt="J|P" width="200px" height="200px"> -->
                J|P
            </a></li>
        <li <%if(active=="about"){%> class="active"<%}%> ><a href="/about" title="about me">About Me</a></li>
        <li <%if(active=="projects"){%> class="active"<%}%> ><a href="/projects" title="projects">Projects</a></li>
        <li <%if(active=="jobs"){%> class="active"<%}%> ><a href="/jobs" title="jobs">Jobs</a></li>
        <li <%if(active=="blog"){%> class="active"<%}%> ><a href="/blog" title="blog">Blog</a></li>
        <li <%if(active=="contact"){%> class="active"<%}%> ><a href="/contact" title="contact me">Contact</a></li>
    </ul>
</nav>