<!DOCTYPE html>
<html>
  <head>
    <title>Projects | Jason Pursey</title>
      <%- include meta.ejs %>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/projects.css' />
      <link rel='stylesheet' href='/stylesheets/nav.css' />
      <link rel='stylesheet' href='/stylesheets/footer.css' />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <%-  include('./nav.ejs', {active: "projects"});%>
      <section>
          <h1>Projects</h1>
          <ul id="allTags" class="tagList">
              <li><a href="/projects?tag=HTML5">HTML5</a></li>
              <li><a href="/projects?tag=CSS3">Java</a></li>
              <li><a href="/projects?tag=JS6">AI</a></li>
              <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
              <li><a href="/projects?tag=Express">Python</a></li>
              <li><a href="/projects?tag=HTML5">HTML5</a></li>
              <li><a href="/projects?tag=CSS3">Data</a></li>
              <li><a href="/projects?tag=JS6">JS6</a></li>
              <li><a href="/projects?tag=NodeJS">Usability</a></li>
              <li><a href="/projects?tag=Express">UX</a></li>
              <li><a href="/projects?tag=Express">Machine learning</a></li>
              <li><a href="/projects?tag=Express">Design patterns</a></li>
              <li><a href="/projects?tag=Express">OOP</a></li>

          </ul>
          <div class="projectContainer">
              <h2>Resume website</h2>
              <ul class="tagList">
                  <li><a href="/projects?tag=HTML5">HTML5</a></li>
                  <li><a href="/projects?tag=CSS3">CSS3</a></li>
                  <li><a href="/projects?tag=JS6">JS6</a></li>
                  <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
                  <li><a href="/projects?tag=Express">Express</a></li>
              </ul>
              <ul class="links">
                  <li>Source:
                      <a href="https://www.github.com/oswalde-p/resume">github.com/oswalde-p/resume</a>
                  </li>
                  <li>Live site:
                      <a href="herokuapp.com">herokuapp.com</a>
                  </li>
              </ul>
              <p>
                  A simple website built with Node to show some of my projects
              </p>
          </div>

          <div class="projectContainer">
              <h2>Resume website</h2>
              <ul class="tagList">
                  <li><a href="/projects?tag=HTML5">HTML5</a></li>
                  <li><a href="/projects?tag=CSS3">CSS3</a></li>
                  <li><a href="/projects?tag=JS6">JS6</a></li>
                  <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
                  <li><a href="/projects?tag=Express">Express</a></li>
              </ul>
              <ul class="links">
                  <li>Source:
                      <a href="https://www.github.com/oswalde-p/resume">github.com/oswalde-p/resume</a>
                  </li>
                  <li>Live site:
                      <a href="herokuapp.com">herokuapp.com</a>
                  </li>
              </ul>
              <p>
                  A simple website built with Node to show some of my projects
              </p>
          </div>

          <div class="projectContainer">
              <h2>Resume website</h2>
              <ul class="tagList">
                  <li><a href="/projects?tag=HTML5">HTML5</a></li>
                  <li><a href="/projects?tag=CSS3">CSS3</a></li>
                  <li><a href="/projects?tag=JS6">JS6</a></li>
                  <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
                  <li><a href="/projects?tag=Express">Express</a></li>
              </ul>
              <ul class="links">
                  <li>Source:
                      <a href="https://www.github.com/oswalde-p/resume">github.com/oswalde-p/resume</a>
                  </li>
                  <li>Live site:
                      <a href="herokuapp.com">herokuapp.com</a>
                  </li>
              </ul>
              <p>
                  A simple website built with Node to show some of my projects
              </p>
          </div>

          <div class="projectContainer">
              <h2>Resume website</h2>
              <ul class="tagList">
                  <li><a href="/projects?tag=HTML5">HTML5</a></li>
                  <li><a href="/projects?tag=CSS3">CSS3</a></li>
                  <li><a href="/projects?tag=JS6">JS6</a></li>
                  <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
                  <li><a href="/projects?tag=Express">Express</a></li>
              </ul>
              <ul class="links">
                  <li>Source:
                      <a href="https://www.github.com/oswalde-p/resume">github.com/oswalde-p/resume</a>
                  </li>
                  <li>Live site:
                      <a href="herokuapp.com">herokuapp.com</a>
                  </li>
              </ul>
              <p>
                  A simple website built with Node to show some of my projects
              </p>
          </div>

          <div class="projectContainer">
              <h2>Resume website</h2>
              <ul class="tagList">
                  <li><a href="/projects?tag=HTML5">HTML5</a></li>
                  <li><a href="/projects?tag=CSS3">CSS3</a></li>
                  <li><a href="/projects?tag=JS6">JS6</a></li>
                  <li><a href="/projects?tag=NodeJS">NodeJS</a></li>
                  <li><a href="/projects?tag=Express">Express</a></li>
              </ul>
              <ul class="links">
                  <li>Source:
                      <a href="https://www.github.com/oswalde-p/resume">github.com/oswalde-p/resume</a>
                  </li>
                  <li>Live site:
                      <a href="herokuapp.com">herokuapp.com</a>
                  </li>
              </ul>
              <p>
                  A simple website built with Node to show some of my projects
              </p>
          </div>

      </section>

    <%- include footer.ejs%>
  </body>
</html>
