
h1{
    font-size: 200px;
    width: 500px;
    margin: 15% auto auto 10%;
    line-height: 200px;
}

#intro{
    height: 100%;
    background-image: url('/images/background2.jpg');
    background-position: center;
    background-size: cover;
}
section{
    position: absolute;
    top: 100%;
}

/* mobile */
@media screen and (max-width: 1000px){
    h1{
        margin: 50% auto auto 10%;

    }
}
