nav{
    height: 50px;
    margin: 0;
    font-size: 30px;
    font-family: Raleway, sans-serif;
}
nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgba(255,255,255,.8);
}

nav ul{
    margin: 0;
    margin-right: 50px;
    text-align: right;
}

nav li{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px 5px 10px;
    text-align: center;
}

nav li.active{
    border-bottom: 2px white solid;
}

nav .logoLink{
    float: left;
}