
#tagSection{
    text-align: center;
}

#allTags{
    width: 60%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#allTags li{
    margin-top: 5px;
}

.projectContainer{
    border-top: 1px solid #d4d4d4;
    margin-top: 100px;
    padding-top: 100px;
}
.projectContent{
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(40, 40, 40, 0.30);
}


h2{
    font-family: Raleway, sans-serif;
}

.tagList, .links{
    padding-left: 0;
}
.tagList li, #clearFilters{
    list-style-type: none;
    display: inline-block;
    border-radius: 20px;
    background-color: #d4d4d4;
    color: #282828;
    font-size: smaller;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

/* mobile */
@media screen and (max-width: 1000px){
    .tagList li, #clearFilters{
        font-size: inherit;
    }
}

.tagList li:hover, #clearFilters:hover, .tagList .active{
    background-color: #9c9c9c;
}

.links{
    margin-top: 50px;
}
.links li{
    list-style-type: none;
    height: 40px;
}

.links li a{
    text-decoration: underline;
}
