@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:700');

html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body {
    font: 25px Libre Baskerville, serif;
    color: white;
    padding: 0;
    margin: 0;
    background-color: rgba(22, 22, 22, 1);
    height: 100%;
}

h1{
    font-family: Raleway, sans-serif;
    font-size: 60px;
}

section{
    margin: 115px;
    margin-top: 180px;
}

/* mobile */
@media screen and (max-width: 1000px){
    body{
        font-size: 30px;
    }
}



