@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway:700');

html{
    height: 101%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body {
    font: 25px Libre Baskerville, serif;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    background: rgba(22, 22, 22, 0.8);
    background-image:  url('/images/background2.jpg');
    background-position: center;
    background-size: cover;
}

h1{
    font-family: Raleway, sans-serif;
    font-size: 60px;
}

section{
    margin: 200px auto auto 100px;
}

a{
    color: white;
    text-decoration: none;
}


footer{
    font-size: 13px;
    height: 70px;
    background: rgba(109, 109, 109, 0.8);
    text-align: center;
    padding-top: 20px;
}

footer a{
    text-decoration: underline;
}

/* mobile */
@media screen and (max-width: 1000px){
    body{
        font-size: 30px;
    }
}



