html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #7c777c; */
    color: white;
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
    background-image: url('/images/background2.jpg');
    background-position: center;
    background-size: cover;
    overflow: scroll;
}

.intro{
}


